<% # TODO: Make this work (map resource types and update resource id with the id of resource type) %>
<div class="field">
  <%= f.label :resource_type %><br/>
  <%= f.select :resource_type, [''] %>
</div>

<div class="field">
  <%= f.label :resource_id %><br/>
  <%= f.text_field :resource_id %>
</div>
