<%= render 'optimadmin/shared/header/main_title', title: 'New Static Page' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: static_pages_path, title: 'Static Page' %>

  <%= render 'form' %>
</div>
