<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @external_link.url %>
</p>

<%= link_to 'Edit', edit_external_link_path(@external_link) %> |
<%= link_to 'Back', external_links_path %>
