// Functions
// http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// http://erskinedesign.com/blog/calculating-ems-scss/
@function em($target-px, $basefont: 14px) {
  @return (strip-unit($target-px) / strip-unit($basefont)) * 1em;
}

// Media queries
$mq-small:   'only screen and (max-width: 767px)';
$mq-medium:   'only screen and (min-width: 768px) and (max-width: 1023px)';
$mq-medium-down: 'only screen and (max-width: 1023px)';
$mq-large: 'only screen and (min-width: 1024px)';

// Use responsive-to for styles that are not shared
// e.g. @include responsive-to(mobile) { color: red; }
@mixin responsive-to($media) {
  @if $media == small {
    @media #{$mq-small} { @content; }
  } @else if $media == medium {
    @media #{$mq-medium} { @content; }
  }  @else if $media == medium-down {
    @media #{$mq-medium-down} { @content; }
  } @else if $media == large {
    @media #{$mq-large} { @content; }
  }
}
