$green: #86cccc;
$blue: #697dbd;
$purple: #5b4765;

$pale-green: #c7e6ee;
$pale-purple: #95859b;

$offset-white: #e5dfe8;
$white: #fff;

$offset-black: #424242;

$deep-purple: #2e2533;

$error-red: #b21b1b;


// Colours from new design
$grey: #dddcdd;
$zebra-row: #fbfbfb;
$pastel-green: #5cc4b7;
$pastel-purple: #7a6695;
